### Go ###
# Binaries for programs and plugins
.DS_Store
*.exe
*.exe~
*.dylib
.*.swp
*.log
*.csproj
*.sln


# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/Library/
/obj/
/Temp/


# Dependency directories (remove the comment below to include it)
# vendor/
/vendor/
/Godeps/
/build/
/Library/
/obj/
/Temp/
/Assets/.vscode/
/Assets/Resources/config.txt
/Assets/3thLib/codeandweb.com/Editor/SettingsTexturePackerImporter.txt
# filter files for build


# filter goland auto files
# .idea/workspace.xml
# .idea/*
.vs/*
.vscode/*